:root {
  /* Border radii */
  --rxs: 3px;
  --rs: 5px;
  --r: 8px;
  --rl: 12px;

  /* Spacing scale */
  --sp-0: 2px;
  --sp-1: 4px;
  --sp-2: 6px;
  --sp-3: 8px;
  --sp-4: 10px;
  --sp-5: 12px;
  --sp-6: 14px;
  --sp-7: 16px;
  --sp-8: 20px;
  --sp-9: 24px;
  --sp-10: 40px;
}
